<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="main.css">
		<h1> Kerbal Space Program Propeller Performance Calculator</h1>
	</head>
	<body>
		<div id="app">
			<table style="width:100%">
				<tr>
					<th>Planet</th>
					<th>Propeller</th>
				</tr>
				<hr>
				<tr>
					<td><select v-model="selectedPlanet"><option v-for="planet in planets" v-bind:value="planet">{{planet.name}}</option></select></td>
					<td><select v-model="selectedPropeller"><option v-for="prop in propellers" v-bind:value="prop">{{prop.name}}</option></select></td>
				</tr>
				<tr>
					<th>Rotor</th>
					<th>Number of Propellers</th>
				</tr>
				<tr>
					<td><select v-model="selectedRotor"><option v-for="rotor in rotors" v-bind:value="rotor">{{rotor.name}}</option></select></td>
					<td><input v-model.number="numberOfPropellers" type="number"></td>
				</tr>
				<tr>
					<th>Rotor RPM setting</th>
					<th>Angle of attack setting</th>
				</tr>
				<tr>
					<td><input v-model.number="rpmSetting" type="number"></td>
					<td><input v-model.number="aoaSetting" type="number"></td>
				</tr>
				<tr>
					<td>
						<div id="AtmospherePlot" style="width:600px;height:400px;"></div>
					</td>
					<td>
						<div id="BladeAeroPlot" style="width:600px;height:400px;"></div>
					</td>			
				</tr>
			</table>
			<hr>
			<p>Max Torque: {{selectedRotor.torque}} kN, Mass: {{selectedRotor.mass}} kg</p>	
			<table style="width:100%">
				<tr>
					<td>
						<div id="MaxAoA" style="width:600px;height:400px;"></div>
						<div id="PropPitchSetting" style="width:600px;height:400px;"></div>		
					</td>
					<td>
						<div id="MaxThrust" style="width:600px;height:400px;"></div>
						<div id="ReqTorque" style="width:600px;height:400px;"></div>
					</td>
				</tr>
			</table>
		</div>
	</body>
	<script src="vue.min.js" type="text/javascript"></script>
	<script src="plotly.js" type="text/javascript"></script>
	<script src="aeroCurves.js" type="text/javascript"></script>
	<script src="atmoCurves.js" type="text/javascript"></script>
	<script src="aeroPlotter.js" type="text/javascript"></script>
</html>





